body {
  padding: 0;
  margin: 0;
}

.Nav-bar {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 0.5em 0 0.5em 4rem;
  border: 1px solid #a2a2a2;
  background-color: #f4f4f4;
  -webkit-box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.75);
  box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.75);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.options-continer {
  display: flex;
  list-style: none;
  gap: 20px;
  margin: 24px 20px 0 0;
}

.Nav-bar-element {
  color: #34495e;
  cursor: pointer;
  text-decoration: none;
}

.Book-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 40px;
  border: 1px solid #a2a2a2;
  background-color: #f4f4f4;
  -webkit-box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.75);
  box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.75);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 1rem;
}

.book-paragraph {
  margin: 0;
  padding: 0;
}

.book-author {
  margin: 0;
  padding: 0;
  color: #277bc0;
}

.book-name {
  margin: 0;
  padding: 0;
}

.buttons-continer {
  display: flex;
  gap: 10px;
}

.button {
  all: unset;
  width: 70px;
  height: 20px;
  font-size: 16px;
  background: transparent;
  border: none;
  position: relative;
  color: #f0f0f0;
  cursor: pointer;
  z-index: 1;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button::after,
.button::before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -99999;
  transition: all 0.4s;
}

.button::before {
  transform: translate(0%, 0%);
  width: 100%;
  height: 100%;
  background: #28282d;
  border-radius: 10px;
}

.button::after {
  transform: translate(10px, 10px);
  width: 35px;
  height: 35px;
  background: #ffffff15;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 50px;
}

.button:hover::before {
  transform: translate(5%, 20%);
  width: 110%;
  height: 110%;
}

.button:hover::after {
  border-radius: 10px;
  transform: translate(0, 0);
  width: 100%;
  height: 100%;
}

.button:active::after {
  transition: 0s;
  transform: translate(0, 5%);
}

.completed-continar {
  padding-top: 30px;
}

.completed-h2 {
  margin: 0;
  padding: 0;
}

.completed-p {
  margin: 0;
  padding: 0;
}

.hr {
  width: 94%;
}

.input {
  border-style: none none solid none;
  width: 40%;
}

.form-text {
  color: #34495e;
  margin-left: 2.4rem;
}

.form {
  display: flex;
  gap: 1rem;
  justify-content: space-evenly;
}

.nav-text {
  color: #277bc0;
}

.card-hr {
  height: 80px;
}

p,
h4 {
  padding: 0;
  margin: 0;
}

.para-chapter {
  color: #a2a2a2;
  margin-bottom: 5px;
}

.para-h4 {
  margin-bottom: 20px;
}

.second-continer {
  display: flex;
  gap: 30px;
  margin-right: 5rem;
}

.icon-continer {
  position: relative;
  left: 60rem;
  top: 10px;
  color: #277bc0;
}

.icon {
  font-size: 2.5rem;
}
